{header:user/inc_header.html}
<script>
$(document).ready(function(){
	$("#nv").find("li a").eq("2").addClass("nvcur");
});
</script>
<style>
.space_notice .bm{padding: 0 4px;}
.space_notice .nts{padding-left: 0px;}
.space_notice .nts dl{border-bottom: 1px solid #f4f4f4;}
.space_notice .nts dl:last-child{border-bottom: 2px solid #eee;}
.space_notice .xlda .m{margin: 3px 15px 0 0;}
.space_notice .ntc_body{margin: 17px 0 0 0;}
.space_notice .quote{margin: 4px 0;}
.space_notice .mbn{margin-bottom: 20px !important;}
.xlda .m {margin-top: 3px;}
.xld dt{padding-top: 5px;padding-bottom: 22px;}
.emp{padding-bottom: 60px;}
.emp span{background: url({templates}/static/images/home_imghack.png) -58px -37px no-repeat transparent;height: 40px;width: 40px;display: inline-block;position: relative;top: 14px;margin-right: 12px;}
#pbbs{padding-left: 20px;display: block;width: 780px;}
.coll li{width:193px;margin-bottom: 13px;}
</style>

<div id="ct" class="ct2 wp cl">
	<div class="mn">
		<div class="bm">
			<div class="bm_h"><h1 class="mt">{收藏类型文字}列表</h1></div>
			<div class="bm_c">
				<div class="bm_c u_profile">
				    <div class="pbm mbm bbda cl" style="position: relative;">
						<div style="clear: both"></div>
						<div id="pbbs" class="pf_l">
						{收藏列表:数量=50}
						{无数据}<div class="emp mtw ptw hm xs2"><span></span>暂时没有数据</div>{/无数据}
						
						<ul class="coll">
						<li>
							<a href="{url}"><img src="{小说封面}"></a><br/>
							<a href="{url}" style="color: #92C1EA;">《{小说名字}》</a><br/>
							作者：{小说作者}<br/>
							操作：<a href="{删除收藏}" title="取消收藏">取消收藏</a>
						</li>
						</ul>
						{/收藏列表}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="sd">
		<div id="pcd" class="bm cl">
			<div class="bm_c">
				<div class="hm">
					<p><a href="{头像设置}" class="avtm"><img src="{用户头像}"></a></p>
					<h2 class="xs2">{用户昵称}</h2>
				</div>
			</div>
		</div>
	</div>
</div>

{footer:user/inc_footer.html}
