{header:user/inc_fheader.html}
<script>
$(document).ready(function(){
	$("#nv").find("li a").eq("1").addClass("nvcur");
});
</script>
<style>
.space_notice .bm{padding: 0 4px;}
.space_notice .nts{padding-left: 0px;}
.space_notice .nts dl{border-bottom: 1px solid #f4f4f4;}
.space_notice .nts dl:last-child{border-bottom: 2px solid #eee;}
.space_notice .xlda .m{margin: 3px 15px 0 0;}
.space_notice .ntc_body{margin: 17px 0 0 0;}
.space_notice .quote{margin: 4px 0;}
.space_notice .mbn{margin-bottom: 20px !important;}
.xlda .m {margin-top: 3px;}
.xld dt{padding-top: 5px;padding-bottom: 22px;}
.emp{padding-bottom: 60px;}
.emp span{background: url({templates}/static/images/home_imghack.png) -58px -37px no-repeat transparent;height: 40px;width: 40px;display: inline-block;position: relative;top: 14px;margin-right: 12px;}
</style>

<div id="ct" class="ct2 wp cl">
	<div class="mn">
		<div class="bm">
			<div class="bm_h"><h1 class="mt">{好友收藏类型文字}列表</h1></div>
			<div class="bm_c">
				<div class="bm_c u_profile">
				    <div class="pbm mbm bbda cl" style="position: relative;">
						<div style="clear: both"></div>
						<div id="pbbs" class="pf_l">
						{好友书架列表:数量=50}
						{无数据}<div class="emp mtw ptw hm xs2"><span></span>TA的书架空空如也</div>{/无数据}
						
						<div class="xld xlda" style= "margin-top: 0px;;padding-left: 80px;">
							<div class="nts">
								<dl class="cl " style="margin-bottom: 20px;">
								<dd class="m avt mbn"><a href="{url}"><img src="{小说封面}"></a></dd>
								<dd class="ntc_body" style="color:#000;font-weight:bold;margin-bottom: 0px;margin-left:25px">
									<a href="{url}" style="color: #92C1EA;">《{小说名字}》</a> - {小说作者}
								</dd>
								<dt style="padding-bottom: 0px;margin-left:30px"><span class="xg1 xw0"><span>小说分类：{小说分类名字}</span></span></dt>
								<dt style="padding-bottom: 0px;margin-left:30px"><span class="xg1 xw0"><span>小说状态：{小说进程}</span></span></dt>
								<dt style="padding-bottom: 0px;margin-left:30px"><span class="xg1 xw0"><span>最新章节：<a href="{rurl}">{小说最新章节名字}</a></span></span></dt>
								<dt style="padding-bottom: 0px;margin-left:30px"><span class="xg1 xw0"><span>最后更新时间：{小说更新时间}</span></span></dt>
								</dl>
							</div>
						</div>
						{/好友书架列表}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="sd">
		<div id="pcd" class="bm cl">
			<div class="bm_c">
				<div class="hm">
					<p><a href="javascript:void(0)" class="avtm"><img src="{好友头像}"></a></p>
					<h2 class="xs2">{好友昵称}</h2>
				</div>
			</div>
		</div>
	</div>
</div>

{footer:user/inc_footer.html}
