<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />        
<title>{title}</title>
<meta name="keywords" content="{key}" />
<meta name="description" content="{desc}" />
<meta name="author" content="wmcms" />
<meta name="copyright" content="www.weimengcms.com" />
<link rel="stylesheet" type="text/css" href="{templates}/static/css/common.css" />
<link rel="stylesheet" type="text/css" href="{templates}/static/css/home_space.css" />
<link rel="stylesheet" type="text/css" href="{templates}/static/css/space.css" />
<link rel="stylesheet" type="text/css" href="{templates}/static/css/style.css" />
<script type="text/javascript" src="/files/js/jquery-2.0.0.min.js"></script>

</head>

<body>
<style>
.block{margin: 0 5px 10px;}
</style>


<div id="toptb" class="cl">
	<div class="y">
		<a href="{有新消息}{消息列表}{/有新消息}{无新消息}javascript:void(0);{/无新消息}" class="xw1">{用户昵称}，您好！
		{有新消息}【<span style="color: #ff0000;font-weight: bold;">您有{未读消息}条新消息</span>】{/有新消息}
		</a>
		<a href="{退出登录}">安全退出</a>
	</div>
	<div class="z">
		<a href="{首页}" title="WMCMS" class="xw1">返回网站首页</a>
	</div>
</div>

<div id="hd" class="wp cl">
	<h2 id="spaceinfoshow">
		<strong id="spacename" class="mbn">{用户昵称}的个人中心</strong>
	</h2>
	
	<div id="nv">
	<ul>
		<li><a href="{用户中心}">首页</a></li>
		<li><a href="{我的书架}">书架</a></li>
		<li><a href="{我的收藏}">收藏</a></li>
		<li><a href="{我的订阅}">订阅</a></li>
		<li><a href="{账号属性}">属性</a></li>
		<li><a href="{基本资料}">资料</a></li>
		<li><a href="{头像设置}">头像</a></li>
		<li><a href="{账号绑定}">账号绑定</a></li>
		<li><a href="{修改密码}">修改密码</a></li>
		<li><a href="{作家首页}">作家中心</a></li>
		<li><a href="{退出登录}" onclick="if(confirm('确认要退出吗')==false){return false}">退出</a></li>
	</ul>
	</div>
</div>