<link rel="stylesheet" type="text/css" href="{templates}/static/css/user/home_space.css" />
<link rel="stylesheet" type="text/css" href="{templates}/static/css/user/space.css" />
<link rel="stylesheet" type="text/css" href="{templates}/static/css/user/style.css" />
<style>
.block{margin: 0 5px 10px;}
</style>


<div id="toptb" class="cl">
	<div class="y">
		<!--<a href="#">注册</a>-->
	</div>
	<div class="z">
		<a href="http://www.weimengcms.com" title="WMCMS" class="xw1">官网首页</a>
		<a style="background-position:80px 12px;" href="{首页}">返回论坛首页</a>
	</div>
</div>

<div id="hd" class="wp cl">
	<h2 id="spaceinfoshow">
		<strong id="spacename" class="mbn">{用户昵称}的个人空间</strong>
	</h2>
	
	<div id="nv">
	<ul>
		<li><a href="{首页}">论坛首页</a></li>
		<li><a href="{用户中心}">空间首页</a></li>
		<li><a href="{账号属性}">个人属性</a></li>
		<li><a href="{基本资料}">修改资料</a></li>
		<li><a href="{头像设置}">头像设置</a></li>
		<li><a href="{消息列表}">消息中心</a></li>
		<li><a href="{修改密码}">修改密码</a></li>
		<li><a href="{验证邮箱}">验证邮箱</a></li>
	</ul>
	</div>
</div>