{header:user/inc_header.html}
<style>
.space_notice .bm{padding: 0 4px;}
.space_notice .nts{padding-left: 0px;}
.space_notice .nts dl{border-bottom: 1px solid #f4f4f4;}
.space_notice .nts dl:last-child{border-bottom: 2px solid #eee;}
.space_notice .xlda .m{margin: 3px 15px 0 0;}
.space_notice .ntc_body{margin: 17px 0 0 0;}
.space_notice .quote{margin: 4px 0;}
.space_notice .mbn{margin-bottom: 20px !important;}
.xlda .m {margin-top: 3px;}
.xld dt{padding-top: 5px;padding-bottom: 22px;}
.emp{padding-bottom: 60px;}
.emp span{background: url({templates}/static/images/home_imghack.png) -58px -37px no-repeat transparent;height: 40px;width: 40px;display: inline-block;position: relative;top: 14px;margin-right: 12px;}
</style>

<div id="ct" class="ct2 wp cl">
	<div class="mn">
		<div class="bm">
			<div class="bm_h">
				<h1 class="mt" style="width:50px;float:right;"><a href="{url:action;user.msg_clear}">清空消息</a></h1>
				<h1 class="mt" style="width:65px;float:right;"><a href="{url:action;user.msg_read}">全部已读</a>&nbsp;&nbsp;|</h1>
				<h1 class="mt">消息列表</h1>
				<div style="clear: both;"></div>
			</div>
			<div class="bm_c">
				<div class="bm_c u_profile">
				    <div class="pbm mbm bbda cl" style="position: relative;">
						<div style="clear: both"></div>
						<div id="pbbs" class="pf_l">
						{消息列表:数量=10;排序=发信时间}
						{无数据}<div class="emp mtw ptw hm xs2"><span></span>暂时没有新消息</div>{/无数据}
						<div class="xld xlda" style= "margin-top: 0px;;">
							<div class="nts">
								<dl class="cl " style="margin-bottom: 20px;">
								<dd class="ntc_body" >
									<a href="{url}"><a class="d b" href="{删除消息}" title="删除消息">删除消息</a></a>
									{未读}<span style="color:red">未读</span>{/未读}【{发信用户昵称}】：<a href="{url}" style="color: #92C1EA;">{消息内容:20}</a><br/>
									发信时间：{发信时间}
								</dd>
								</dl>
							</div>
						</div>
						{/消息列表}
						</div>
						<a href="{第一页}">第一页</a> . 
						<a href="{上一页}">上一页</a>
						共{当前页}/{总页数}页
						<a href="{下一页}">下一页</a> . 
						<a href="{最后页}">最后页</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="sd">
		<div id="pcd" class="bm cl">
			<div class="bm_c">
				<div class="hm">
					<p><a href="{头像设置}" class="avtm"><img src="{用户头像}"></a></p>
					<h2 class="xs2">{用户昵称}</h2>
				</div>
			</div>
		</div>
	</div>
</div>

{footer:user/inc_footer.html}
