{header:novel/header.html}
	<link rel="stylesheet" type="text/css" href="{templates}/static/css/err.css" media="screen" />
</head>
<body style="background:#F8F8F8">

{header:novel/nav.html}

<div class="mod_958wr mod_wbg mod_gbd mod_of" style="margin:40px auto 50px;min-height:400px">
	<div class="mod_960wr mod_of">
	    <span class="db tc f14 mt15" style="margin:140px auto 0;">
	    <a class="mod-top-nav-user" href="javascript:easydialog_url('user.login','登录/注册','',320,360)" style="margin-left: 50%;">立即登录</a></span>
	</div>
</div>
{footer:novel/footer.html}