{header:novel/header.html}
{重定向}
	<link rel="stylesheet" type="text/css" href="{templates}/static/css/err.css" media="screen" />
</head>
<body style="background:#F8F8F8">

{header:novel/nav.html}

<div class="mod_958wr mod_wbg mod_gbd mod_of" style="margin:40px auto 50px;min-height:400px">
	<div class="mod_960wr mod_of">
	    <span class="db tc f14 mt15" style="margin:140px auto 0;">提示信息</span>
	    <span class="db tc f14 mt15" style="margin-top:10px;">{html}</span>
	    <span class="db tc f14 mt15" style="margin-top:10px;font:normal 18px/24px '微软雅黑'">{errinfo}</span>
	</div>
</div>

{footer:novel/footer.html}