<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{title}</title>
		<link rel="stylesheet" href="{templates}/static/author/css/style.css">
		<script src="{templates}/static/author/js/font.js"></script>
		<script src="{templates}/static/author/js/jquery.min.js"></script>
		<script src="{templates}/static/author/js/layer.js"></script>
	</head>
	<body>
		<div class="app">
			<div class="htitle u-f-ajc">
				<span>{网站名}作家注册投稿协议</span>
			</div>
			<div class="infoEdit newBook">
					<div class="sqinfo">{协议内容}</div>
			</div>
		</div>
		
		<footer>
			<p>{网站名}</p>
		</footer>
		
		<script>
			
		</script>
	</body>
</html>
