</head>
<body>
<div class="wrap">
    <div class="header">
    	<div class="headBox pageCenter cf">
			<a href="{编辑首页}" style="font-size: 24px;color: #4ea8ff;position: absolute;top: 10px;">编辑首页</a>
			<div style="position: absolute;margin-left: 100px;top: 5px;color: #e7a0a0;">Beta</div>
			<div class="headUser fr">
				<ul class="cf">
					<li class="bell">
						<a href="{消息列表}">
						<span class="icon">
						<cite id="msgCount" class="icon" {无新消息}style="display:none;"{/无新消息}></cite></span>
						</a>
						<a href="{消息列表}">消息</a>
					</li>
					<li class="line"></li>
					<li id="headPhotoBox" class="headPhoto" onclick="location='{用户中心}'">
						<p>
						<em><img src="{用户头像}" width="36" height="36" alt="{用户昵称}"></em>
						<a class="userName" href="javascript:">{用户昵称}</a>
						</p>
					</li>
				</ul>
			</div>
		</div>
	</div>

    <div class="mainWrap pageCenter cf">