	</div>
</div>
<div class="footer">
	<div class="pageCenter">
		<a target="_blank" href="{首页}">网站首页</a><span>|</span>
		<a target="_blank" href="{用户中心}">用户中心</a><span>|</span>
		Copyright © 2016 All Rights Reserved {网站名} 版权所有
	</div>
</div>

<dialog class="ui-dialog-container" style="z-index: 20; display:none;">
    <div class="dialog-loading"><div style="text-align: center;margin-top: 328px;">加载中...</div></div>
    <div class="ui-dialog editor-select-body" style="display:none">
        <a href="javascript:" class="ui-dialog-close ESC" role="button" style="font-size: 17px;top: 25px;right: 15px;"><em class="icon-font icon-close">X</em></a>
        <div class="ui-dialog-title"></div>
        <div class="ui-dialog-body"></div>
        <div class="ui-dialog-footer" style="text-align: center;">
            <a href="javascript:" id="pass" data-aid="0" class="ui-button ui-button-success">通过</a>
            <a href="javascript:" id="refuse" data-aid="0" class="ui-button ui-button-warning">拒绝</a>
            <a href="javascript:" id="sure" class="ui-button ui-button-primary">确定</a>
            <a href="javascript:" id="close" class="ui-button icon-close">关闭</a>
        </div>
    </div>
</dialog>
</body>
</html>