<div class="mainLeft fl">
	<div class="sideBar" id="main-bar">
		<ul>
			<li id="index"><a href="{编辑首页}"><span class="home"></span>编辑首页</a></li>
            <li id="novel"><a href="{编辑小说审核}"><span class="works"></span>小说审核</a></li>
			<li id="novel_cover"><a href="{编辑小说封面审核}"><span style="background-position: -170px -55px;width: 23px;height: 24px;"></span>封面审核</a></li>
            <li id="novel_chapter"><a href="{编辑小说章节审核}"><span style="background-position: -194px -170px;width: 23px;height: 24px;"></span>章节审核</a></li>
            <li id="basic"><a href="{编辑基本资料}"><span class="exchange"></span>基本资料</a></li>
		</ul>
	</div>
</div>