<?xml version="1.0" encoding="UTF-8"?>
<urlset>
	<url>
		<loc><![CDATA[{网站地址}{首页}]]></loc>
		<priority>1.00</priority>
		<lastmod>{年}-{月}-{日}</lastmod>
		<changefreq>always</changefreq>
	</url>{文章:数量=50;排序=时间}
	<url>
		<loc><![CDATA[{网站地址}{url}]]></loc>
		<priority>0.5</priority>
		<lastmod>2017-02-18</lastmod>
		<changefreq>weekly</changefreq>
	</url>{/文章}{小说:数量=50;排序=最新入库}
	<url>
		<loc><![CDATA[{网站地址}{url}]]></loc>
		<priority>0.5</priority>
		<lastmod>{小说更新时间}</lastmod>
		<changefreq>daily</changefreq>
	</url>{/小说}
</urlset>

