WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
[   Time   ] {time}
[  Status  ] {status}
[  Start   ] {starttime}
[   End    ] {endtime}
[  RunTime ] {runtime}
------------------------
[  Server  ] {software}
[  Method  ] {method}
[   Root   ] {root}
[   Host   ] {host}
[ ServerIp ] {servername}
[    Url   ] {url}
[   Param  ] {param}
------------------------
[ ClientIp ] {ip}
[  Client  ] {client}{json}{sqls}
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM

