<?xml version="1.0" encoding="UTF-8"?>
<urlset>
	{小说:数量=50000;排序=最新入库}<url>
		<loc><![CDATA[{murl}]]></loc>
		<lastmod>{小说创建时间:n-y-r}</lastmod>
		<changefreq>daily</changefreq>
		<priority>1.0</priority>
		<data>
			<name>{小说名字}</name>
			<author>
				<name>{小说作者}</name>
				<representativeWork>{小说名字}</representativeWork>
			</author>
			<image><![CDATA[{网站地址}{小说封面}]]></image>
			<description><![CDATA[{小说简介:200}]]></description>
			<genre>{小说分类名字}</genre>
			<wordCount>{小说字数}</wordCount>
			<url><![CDATA[{网站地址}{murl}]]></url>
			<updateStatus>{小说进程}</updateStatus>
			<trialStatus>免费</trialStatus>
			<keywords>{小说标签}</keywords>
			<weeklyClick>{小说周点击}</weeklyClick>
			<monthlyClick>{小说月点击}</monthlyClick>
			<totalClick>{小说总点击}</totalClick>
			<weeklyRecommend>{小说周推荐}</weeklyRecommend>
			<monthlyRecommend>{小说月推荐}</monthlyRecommend>
			<totalRecommend>{小说总推荐}</totalRecommend>
			<newestChapter>
				<articleSection>{小说名字}</articleSection>
				<headline>{小说最新章节名字}</headline>
				<url><![CDATA[{rurl}]]></url>
				<dateModified>{小说更新时间:n-y-r}</dateModified>
			</newestChapter>
			<collectedCount>{小说总收藏}</collectedCount>
			<dateModified>{小说更新时间:n-y-r}</dateModified>
			<listPage>
				<headline>{小说名字}</headline>
				<url><![CDATA[{murl}]]></url>
				<itemCount>1</itemCount>
			</listPage>
			<provider>
				<name>{网站名}</name>
			</provider>
		</data>
	</url>
{/小说}</urlset>
