{header:author/inc_header.html}
<link rel="stylesheet" type="text/css" href="{templates}/static/css/author/apply.css" />
{header:author/inc_toper.html}
<style>
.agreementWrap {
	width: 960px;
	margin: 0 auto;
	padding: 60px 0 150px;
}
.agreementWrap h3 {
	font: 18px/1.8 "Microsoft YaHei";
	border-bottom: 1px solid #DDD;
	padding-bottom: 10px;
	margin-bottom: 40px;
}
.agreementWrap p {
	margin:0.8em 0;
	font: 14px/2 "Microsoft YaHei";
}
</style>


<div class="agreementWrap">
	<h3>{网站名}作家注册投稿协议</h3>
	<p>{协议内容}</p>
</div>
{header:author/inc_footer.html}