<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{title}</title>
    <meta name="keywords" content="{key}">
    <meta name="description" content="{desc}">
    <link rel="stylesheet" type="text/css" href="{templates}/static/css/author/base.css">
    
	<script type="text/javascript" src="/files/js/function.js"></script>
	<script type="text/javascript" src="{templates}/static/js/jquery-1.9.1.min.js"></script>
	<!-- 弹窗组件 -->
	<script type="text/javascript" src="/files/js/easydialog/easydialog.js"></script>
	<link href="/files/js/easydialog/easydialog.css" rel="stylesheet"  media="screen" type="text/css"/>