<div class="mainLeft fl">
	<div class="sideBar" id="main-bar">
		<ul>
			<li id="home"><a href="{作家首页}"><span class="home"></span>作家首页</a></li>
            <li id="novel"><a href="{小说作品列表}"><span class="works"></span>小说管理</a></li>
            {文章投稿开启}<li id="article"><a href="{文章投稿列表}"><span class="reserve"></span>文章投稿</a></li>{/文章投稿开启}
			<li id="income"><a href="{小说收入列表}"><span class="income"></span>收入管理</a></li>
            <li id="novel_statistics"><a href="{小说数据统计}"><span style="background-position: 0px -156px;width: 23px;height: 24px;"></span>数据统计</a></li>
            <li id="basic"><a href="{作家基本资料}"><span class="exchange"></span>基本资料</a></li>
		</ul>
	</div>
</div>