</head>
<body>
<div class="wrap">
    <div class="header">
    	<div class="headBox pageCenter cf">
			<a href="{作家首页}"><img class="logo fl" src="{templates}/static/images/author/logo.png" width="225" height="28" alt="作家首页"></a>
			<div class="headUser fr">
				<ul class="cf">
					<li class="bell">
						<a href="{消息列表}">
						<span class="icon">
						<cite id="msgCount" class="icon" {无新消息}style="display:none;"{/无新消息}></cite></span>
						</a>
						<a href="{消息列表}">消息</a>
					</li>
					<li class="line"></li>
					<li id="headPhotoBox" class="headPhoto" onclick="location='{用户中心}'">
						<p>
						<em><img src="{用户头像}" width="36" height="36" alt="{用户昵称}"></em>
						<a class="userName" href="javascript:">{用户昵称}</a>
						</p>
					</li>
				</ul>
			</div>
		</div>
	</div>

    <div class="mainWrap pageCenter cf">