<!-- footer -->
<div class="mod-footer-wr">
    <div class="mod-footer-main-wr">
        <div class="mod-footer-main ui-wm">
            <!-- 二维码 -->
            <ul class="mod-footer-scan ui-ma">
                <li>
                    <img src="{QQ群二维码}" title="求书群" alt="求书群"/>
                    <div style="color:#fff">官方交流群</div>
                </li> 
                <li>
                    <img src="{支付宝二维码}" title="官方微信" alt="官方微信"/>
                    <div style="color:#fff">支付宝捐赠</div>
                </li>
            </ul>
            <!-- 版权 -->
            <div class="mod-footer-info">
                <a href="{网站地图:html}" target="_blank" title="网站地图">网站地图</a>
                <a href="{网站地图:xml}" target="_blank" title="sitemap">sitemap</a>
                <a href="{网站地图:rss}" target="_blank" title="rss订阅">RSS订阅</a>
                <a href="javascript:void(0);" target="_blank">官方微博</a>
                <span class="ui-pl10" style="color:#fff">联系方式：<a class="mod-footer-mail" href="mailto:{邮箱}">{邮箱}</a></span>
            </div>
            <div class="mod-footer-info">Copyright<span class="mod-copyright"  style="color:#fff">&copy;</span>2016  WMCMS. All Rights Reserved</div>
            <div class="mod-footer-info">{网站名} 版权所有</div>
        </div>
    </div>
    <div class="mod-footer-border"></div>
</div>

{统计}
</body>
</html>