<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0, user-scalable=no">
    <meta name="Keywords" content="{key}" />
    <meta name="Description" content="{desc}" />
    <title>{title}</title>
		<style>
			.l a{
				color: #3EAAF7;
				text-decoration: none;
			}
			.l{
				
			}
		</style>
</head>
<body style="background-color: #f5f5f5;">
    <div id="app" style="padding-top: 0.8rem;">
        <div style="margin: 0.8rem;margin-top: 0 ;text-align: center;padding: 0.6rem;font-size: 0.32rem;border-radius: 0.2rem;">
					<i style="font-size: 0.8rem;display: block;">Tis</i>
					{重定向}
					<p style="color: #999;">{errinfo}</p>
					<p class="l">
						{html}
					</p>
				</div>
		</div>
	</div>
	<script type="text/javascript" src="{templates}/static/js/jquery.min.js"></script>
	<script type="text/javascript" src="{templates}/static/js/layer.js"></script>
	<script type="text/javascript" src="{templates}/static/js/global.js"></script>
</body>
</html>