<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>{title}</title>
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="{templates}/static/user/css/style.css">
    <script type="text/javascript" src="{templates}/static/user/js/flexible.min.js"></script>
</head>
<body>
	<div class="app_meskSection"></div>
	<div class="container">
		<div class="app_header_section2  app_scrollerHeader" id="header">
			<div class="app_header_detail2">
				<div class="app_header_back"></div>
				<div class="app_header_h1">
					修改资料
					<a href="{我的书架}"> <i class="shujiaIco"></i>
					</a> <i class="moreIco"></i>
				</div>
			</div>
			<div class="app_header_second" style="display: none;">
				<ul>
					<li class="icon1">
						<a href="/">首页</a>
					</li>
					<li class="icon2">
						<a href="{全部小说}">书库</a>
					</li>
					<li class="icon3">
						<a href="{我的书架}">书架</a>
					</li>
					<li class="icon4">
						<a href="{用户中心}">账户</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="app_body">
			<div class="app_wanJiPassWord">
		        <div class="app_lisBlockSpan">
		            <ul>
		                <li>
		                    <span class="left">我的昵称：</span>
		                    <input type="text" value="{用户昵称}" name="nickname">
		                </li>
										<li>
										    <span class="left">联系QQ：</span>
										    <input type="text" value="{用户qq}" name="qq">
										</li>
										<li>
										    <span class="left">出生日期：</span>
										    <input type="date" value="{用户出生日期}" name="birthday">
										</li>
										<li>
										    <span class="left">我的性别：</span>
												<div style="display: flex;width: 3rem;height: 1.375rem;">
													<div style="width: 2rem;display: flex;align-items: center;justify-content: center;">
														<input name="sex" style="height: 0.4rem;" type="radio" value="1" {eq:1:{用户性别码}}checked=""{/eq}>
														<span>男</span>
													</div>
													<div style="width: 2rem;display: flex;align-items: center;justify-content: center;margin-left: 0.8rem;">
														<input name="sex" style="height: 0.4rem;" type="radio" value="2" {eq:2:{用户性别码}}checked=""{/eq}>
														<span>女</span>
													</div>
												</div>
										</li>
		                <li>
		                    <span class="left">个人签名：</span>
		                    <textarea cols="30" name="sign" rows="5" placeholder="请输入您的签名" maxlength="50">{用户签名}</textarea>
		                </li>
		            </ul>
		        </div>
		        <div class="app_listBlockButton app_marginStyle1" style="padding-bottom: 1.5rem">
							{表单锁}
		        	<button id="submitbtn" ajax-post="app_lisBlockSpan" url="{表单提交地址}&ajax=yes">确认</button>
		        </div>
		    </div>
		</div>
	</div>
	<script type="text/javascript" src="{templates}/static/user/js/jquery.min.js"></script>
	<script type="text/javascript" src="{templates}/static/js/layer.js"></script>
	<script type="text/javascript" src="{templates}/static/user/js/ajax.js"></script>
	<script type="text/javascript" src="{templates}/static/user/js/user.js"></script>
</body>
</html>