<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0, user-scalable=no">
    <meta name="Keywords" content="{key}" />
    <meta name="Description" content="{desc}" />
    <title>{title}</title>
		<style>
			.l a{
				color: #3EAAF7;
				text-decoration: none;
			}
		</style>
</head>
<body style="background-color: #f5f5f5;">
    <div id="app" style="padding-top: 0.8rem;">
        <div style="margin: 0.8rem;margin-top: 0 ;text-align: center;padding: 0.6rem;font-size: 0.32rem;border-radius: 0.2rem;">
            <i style="font-size: 0.6rem;display: block;">您还没有关注</i>
			<p style="color: #999;">请先关注公众号</p>
			<p style="color: #999;"><img style="width:100%" src="{微信二维码}" alt="微信公众号二维码"/></p>
			<p class="l"><a href="javascript:history.go(-1);">返回上页</a></p>
			<p class="l"><a href="{首页}">返回首页</a></p>
		</div>
	</div>
	<script type="text/javascript" src="{templates}/static/js/jquery.min.js"></script>
	<script type="text/javascript" src="{templates}/static/js/layer.js"></script>
	<script type="text/javascript" src="{templates}/static/js/global.js"></script>
</body>
</html>